<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<script>
    function validateForm(){
        var username = document.forms['signupForm']['username'].value;
        var password = document.forms['signupForm']['password'].value;

        if(!/^[a-zA-Z0-9_-]+$/.test(username)){
            alert('Invalid username. Use only letters, numbers, underscore, and hyphens');
            return false;
        }

        if(password.length < 8){
            alert('Invalid password. Password must be at least 8 characters long. ')
            return false;
        }

        return false;
    }
</script>
<body>



    <div class="container">
        <p id="message" class="hidden"></p>
        <h2>Sign Up</h2>
        {% with messages = get_flashed_messages()  %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor  %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('signup')}}" id="registerForm" method="post">
            <label for="username">username</label>
            <input type="text" name="username" id="username" required>

            <label for="username">Email</label>
            <input type="email" name="email" id="email" required>

            <label for="Password">Password</label>
            <input type="password" name="password" id="pass" required>

            <label for="Password">Confirm Password</label>
            <input type="password" name="c_password" id="con_pass" required>

            <button type="submit" onclick="register()">Sign up</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}" ></script>
</body>
</html>